<?xml version="1.0" ?>
<project name="NDepth">

  <property name="FrameworkDir"         value="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\"	unless="${property::exists('FrameworkDir')}" />
  <property name="NSISDir" 		value=".\ThirdParty\NSIS\"				unless="${property::exists('NSISDir')}" />

  <property name="Build"		value="1.0.0.0"						unless="${property::exists('Build')}" />
  <property name="Configuration" 	value="Release"						unless="${property::exists('Configuration')}" />
  <property name="Platform" 		value="Any CPU"						unless="${property::exists('Platform')}" />

  <property name="SourcesDir" 		value=".\"						unless="${property::exists('SourcesDir')}" />
  <property name="SolutionFile" 	value="NDepth.sln"					unless="${property::exists('SolutionFile')}" />

  <property name="SetupFileDir"		value=".\"						unless="${property::exists('SetupFileDir')}" />
  <property name="SetupFileNamePrefix" 	value="NDepth"						unless="${property::exists('SetupFileNamePrefix')}" />

</project>