<?xml version="1.0" ?>
<project name="NDepth">

  <property name="MSBuildDir"		value="C:\Program Files (x86)\MSBuild\12.0\bin\"	unless="${property::exists('MSBuild')}" />
  <property name="NSISDir" 		value=".\ThirdParty\NSIS\"				unless="${property::exists('NSISDir')}" />

  <property name="Build"		value="1.0.0.0"						unless="${property::exists('Build')}" />
  <property name="Configuration" 	value="Release"						unless="${property::exists('Configuration')}" />
  <property name="Platform" 		value="Any CPU"						unless="${property::exists('Platform')}" />

  <property name="SourcesDir" 		value=".\"						unless="${property::exists('SourcesDir')}" />
  <property name="SolutionFile" 	value="NDepth.sln"					unless="${property::exists('SolutionFile')}" />

  <property name="SetupFileDir"		value=".\"						unless="${property::exists('SetupFileDir')}" />
  <property name="SetupFileNamePrefix" 	value="NDepth"						unless="${property::exists('SetupFileNamePrefix')}" />

</project>