<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="AsyncAppender" type="log4net.Async.AsyncAppender, log4net.Async">
    <layout type="log4net.Async.Layout.AsyncFastLayout, log4net.Async" />
    <strategy type="log4net.Async.Strategy.AsyncStrategyHotSwap, log4net.Async" />
    <appender type="log4net.Async.Appender.AsyncWrapperAppender, log4net.Async">
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="logfile.txt" />
        <appendToFile value="true" />
        <immediateFlush value="false" />
      </appender>
    </appender>
  </appender>
  <logger name="NHibernate">
    <level value="WARN" />
  </logger>
  <logger name="NHibernate.SQL">
    <level value="WARN" />
  </logger>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="AsyncAppender" />
  </root>
</log4net>
