<?xml version="1.0" encoding="utf-8"?>
<nlog>
  <targets>
    <target name="Null" type="Null" formatMessage="false" />
    <target name="AsyncFile" type="AsyncWrapper" overflowAction="Block" queueLimit="1000000" batchSize="1000" timeToSleepBetweenBatches="0">
      <target name="File" type="File" fileName="${basedir}/logs/${shortdate}.log" autoFlush="false" keepFileOpen="true" layout="${longdate} [${threadid}] ${level:uppercase=true} ${logger} - ${message}${onexception:${newline}${exception:format=tostring}}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AsyncFile" />
  </rules>
</nlog>
